<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>creat</title>
</head>
<body>
	<h3>instructions !</h3>
	<h5>
		make sure to copy the image adress!<br>
		make sure to fill all the folowing forms 
	</h5>

	<form action="" method="POST">
        <div>
            <!--subject-->
            <label>subject*</label>
            <div class="input-group">
                <input type="text"  name="subject" required>
            </div>
        </div>
            <!--name-->
        <div>
            <label>what is in the first pic*</label>
            <div class="input-group">
                <input type="text" name="fp" required>
            </div>
        </div>
            <!--adress-->
        <div>
            <label>adress of the first img*</label>
            <div class="input-group">
                <input type="text" name="adress" required>
            </div>
        </div>
         <a href="/homep"><button>share vote</button></a>
    </div>

	</form>


</body>
</html>